<div class="card mb-4">
    <div class="card body">
        <a href="{{ path('show_annonce'. {slug: annonce.slug. id:annonce.id}) }}">
        {{ annonce.title }}
        </a>
        <p class="card-text"> {{ annonce.description | nl2br }}</p> 
        <p class="card-text"> {{ annonce.city}} ({{ annonce.CodePostale}})</p>
        <div class="text-primary>" style="font-size: 2rem; font-weight:bold">
            {{ annonce.formattedPrice}} €
        </div>
    </div>
</div>