{# Page d'accueil + annonces #}



<h1><i class="fa fa-cloud"></i> <a href="{{ path('show_annonce', {slug: annonce.slug, id: annonce.id}) }}"><h1 class="movie-title">{{ annonce.titre }}</h1></a> </h1>
<p>{{ annonce.description | nl2br }}</p>
<p style="margin-bottom: 0px;margin-bottom: 50px;">{{ annonce.surface }} m² - {{ annonce.Ville}} ({{ annonce.CodePostale}})</p>
<a href="{{ path('show_annonce', {slug: annonce.slug, id: annonce.id}) }}" ><h3><i class="fa fa-price btn btn-success">  {{ annonce.formattedPrice}} € </i></h3></a>
<div class="controls"></div>


