{% extends 'base.html.twig' %}

{% block title %}Tous nos biens !{% endblock %}

{% block body %}

<div class="container" style="margin-top: 10px;">
    <div class="jumbotron container-fluide">
        <h1>Voir mes annonces </h1>
        {{ form_start(form) }}
        <div class="container row align-items-end ">
            <div class="col"> 
            {{ form_row(form.minSurface) }}
            </div>
            <div class="col"> 
            {{ form_row(form.maxPrice) }}
            </div>
            <div class="col"> 
                <div class="form-group">
                    <button class="btn btn-primary"> Rechercher </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="row">
        {% for annonce in annonces %}
            <div class="col-md-4">
                {% include 'annonces_immobiliere/Annonces.html.twig' %}
            </div>
        {% endfor %}
    </div>
    <div class="pagination"> 
        {{ knp_pagination_render(annonces) }}
    </div>
</div>
{% endblock %}
